<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="Console" name="console"/>
    <target xsi:type="File" name="birdFile" fileName="logs/birdsLog_${shortdate}.log" deleteOldFileOnStartup="true"/>
    <target xsi:type="File" name="debuggingClosest" fileName="logs/closest_${shortdate}.log" deleteOldFileOnStartup="true"/>
    <!-- add your targets here -->
    
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <logger name="Engine.Bird.Bird" minlevel="Trace" writeTo="birdFile"/>
    <logger name="Engine.Strategies.*" minlevel="Trace" writeTo="birdFile"/>
    <logger name="Engine.Strategies.FollowClosestYouSee" minlevel="Trace" writeTo="console"/>
    <logger name="Engine.Strategies.FollowClosestYouSee" minlevel="Trace" writeTo="debuggingClosest"/>
    <logger name="Engine.Bird.Bird" minlevel="Trace" writeTo="debuggingClosest">
      <filters>
        <whenContains layout="${message}" substring="Zdzisiek" action="Ignore"/>
        <whenContains layout="${message}" substring="Maciek" action="Ignore"/>
      </filters>
    </logger>
    <!-- add your logging rules here -->
    
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>